<!DOCTYPE html>
<html>
{% load static %}
{% load if_submitted %}
{% load submitted_answer %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'styles.css'%}">
    <link rel="stylesheet" href="{%static 'timeTo.css'%}">
</head>


<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 sticky-top">
        <div class="container">
            <a href="#" class="navbar-brand">{{quiz.name}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <p class="px-3" id="countdown-timer">
                {%if quiz.get_status == "ended"%}
                    Quiz has ended
                {%endif%}
            </p>

            {%if quiz.get_status == "ended"%}
                <p>Points earned {{points}}</p>
            {%endif%}

            <div id="navmenu" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><strong>Home</strong> </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link"><strong>Clarifications</strong> </a>
                    </li>
                    <li class="nav-item">
                        <a href="{%url 'Stats:leaderboard' quiz_id=quiz.id%}" class="nav-link"><strong>Leaderboard</strong> </a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>


    <div class="container question-list-container" id="question-list-container">
        {%for question in questions%}

        {%with question_counter=forloop.counter %}

        <div class="card mb-3" data-question-type="{{question.question_type}}" data-question-id="{{question.id}}">
            <div class="card-header" data-type="question-container">
                {{question.question_text|safe}}
            </div>

            {%if question.question_type == "single_choice"%}
                {%include "options/single_choice_options.html"%}
            {%elif question.question_type == "multiple_choice"%}
                {%include "options/multiple_choice_options.html"%}
            {%else%}

            {%endif%}
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-question-circle"></i>
                    {{question.points}} Points
                    <button class="btn btn-primary" data-btn-type="submit" {%if user|if_submitted:question.id %} disabled {%endif%}> Submit </button>
                </div>
            </div>
        </div>



        {%endwith%}
        {%endfor%}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'jquery.time-to.js'%}"></script>
    <script>
        var csrf_token = "{{csrf_token}}";
        var time_remaining = parseInt("{{time_remaining}}");
    </script>
    <script>
        $(document).ready(function () {

            // add custom styles to raw html from db

            $("[data-type='question-container']").each(
                function(idx, element){
                    $(element).find("img").addClass("img-fluid");
                    $(element).find("table").addClass("table table-bordered");
                }
            );

            if(time_remaining != 0){
                $('#countdown-timer').timeTo(
                    time_remaining,
                    function () {
                        location.reload(true);
                    }
                );
            }

            
            
            $("#question-list-container").on("click", "button[data-btn-type='submit']", function () {
                var clickedBtn = $(this);
                //var questionCont = clickedBtn.parent().parent().parent();
                var questionCont = clickedBtn.closest("[data-question-id]");
                var questionId = questionCont.attr("data-question-id");
                var answer = []
                var options = clickedBtn.parent().parent().parent().children().eq(1);
                if (questionCont.attr("data-question-type") === "single_choice") {
                    
                    var checkedIdx = -1;

                    options.children().each(function (idx, element) {
                        if ($(element).children().eq(0).is(":checked")) {
                            checkedIdx = idx;
                        }
                    });

                    answer.push(checkedIdx);

                }else if(questionCont.attr("data-question-type") === "multiple_choice"){

                    options.children().each(function (idx, element) {
                        if ($(element).children().eq(0).is(":checked")) {
                            answer.push(idx);
                        }
                    });
                }

                $.ajax({
                    url: `/participate/submit/${questionId}/`,
                    type: 'POST',
                    dataType: "json",
                    data: {
                        answer: JSON.stringify(answer),
                        csrfmiddlewaretoken: csrf_token
                    },
                    success: function (data, textStatus, jQxhr) {
                        if (jQxhr.status == 200) {
                            alert("submiited");
                            clickedBtn.prop("disabled", true);
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert(jqXhr.responseText);
                    }
                });

                //var options = clickedBtn.closest("ul[data-list-name='option-list']");



            });
        });
    </script>
</body>

</html>