<!-- Take Quiz object as quiz -->
<div class="card my-2 bg-light mx-auto">

    <div class="card-header h5">
        {{quiz.name}} ({{quiz.id}})
    </div>
    <p>Start time: {{quiz.start_time}}</p>
    <p>Duration: {{quiz.end_time}}</p>
    <p>Visibility: {{quiz.visibility}}</p>
    <p>Category: {{quiz.category}}</p>
    <div class="card-body">
        {%if quiz.creator == user%}
        
        <div class="d-flex justify-content-end">
            <a href="{% url 'Create:edit-questions' quiz_id=quiz.id %}" class="btn btn-primary mx-3">Allowed users</a>
            <a href="{% url 'Create:edit-questions' quiz_id=quiz.id %}" class="btn btn-primary">Change</a>
        </div>
        {%else%}
        <div class="d-flex justify-content-end">
            <a href="{%url 'Participate:view-questions' quiz_id=quiz.id%}" class="btn btn-primary mx-3">Participate</a>
        </div> 
        {%endif%}
        
    </div>
  </div>