<!-- Take Quiz object as quiz -->
{%load user_points%}
{%load total_points%}
<div class="card my-2 bg-light">

    <div class="card-header d-flex justify-content-between">
        <h5>{{quiz.name}} ({{quiz.id}})</h5>
        {%if quiz.get_status == "ended" %}
        <p class="my-0">Score: {{quiz|user_points:request.user}} / {{quiz|total_points}}</p>
        {%elif quiz.get_status == "running"%}
        <p class="my-0">Running</p>
        {%else%}
        
        {%endif%}
        
    </div>
    
    <div class="card-body">
        <p>Start time: {{quiz.start_time}}</p>
        <p>Duration: {{quiz.end_time}}</p>
        <p>Visibility: {{quiz.visibility}}</p>
        <p>Category: {{quiz.category}}</p>

        <div class="d-flex justify-content-end">
            <a href="{%url 'Participate:view-questions' quiz_id=quiz.id%}" class="btn btn-primary mx-3">
                {%if quiz.get_status == "ended"%}
                View
                {%else%}
                Participate
                {%endif%}
            </a>
            {%if quiz.creator == user%}
            <a href="{% url 'Create:edit-questions' quiz_id=quiz.id %}" class="btn btn-primary">Change</a>
            {%endif%}
        </div>
    </div>
  </div>