<!DOCTYPE html>
<html>
{% load static %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'styles.css'%}">
</head>


<body>

    <!-- navbar participate-->
    {%include 'participate_navbar.html' %}
    

    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6 border border-dark">
                <div class="container">
                    <p>Total participants: {{total_participants}}  </p>
                    <p>Highest score: {{max_points}}</p>
                    <p>Average score: {{avg_points}}</p>
                </div>
                
            </div>
            <div class="col-lg-6 border border-dark">
                <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        var chart_data = JSON.parse('{{chart_data|safe}}');
        var colors = [];
        for(var i =0; i < chart_data['data'].length; i++){
            var randomColor = "#"+ Math.floor(Math.random()*16777215).toString(16);
            colors.push(randomColor);
        }
        new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
        labels: chart_data['labels'],
        datasets: [
            {
                label: "Participants who got at least this number",
                backgroundColor: colors,
                data: chart_data['data']
            }
        ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Number chart'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: chart_data["step_size"]
                    }
                }]
            }
        }
    });
    </script>

</body>

</html>